<div class="container auth">
<h2 class=" fa fa-user center-align teal-text">Edit Profile</h2><br>


    <form action="/user/<%= user._id %>/editUser" method="post" enctype="multipart/form-data">
      <div class="form-group">
          <label>Name</label>
          <br>
          <input type="text" class="form-control" name="username" value="<%= user.username %>">
          <br>
      </div>
      <div class="form-group">
          <label>Email</label>
          <br>
          <input type="text" class="form-control" name="email" value="<%= user.email %>">
          <br>

      </div>
      <div class="col-sm-4">


      <div>
        <div class="center-btn">
        <button class="btn btn-success red darken-1 full" type="submit" name="action" value="Submit">UPDATE
        </button>
        <br></br>
      </div>
      </div>
    </form>
  </div>
</div>
