<div class=“container”>
<form id=“form” action=“/pill/create” method=“POST”>
  <label>Title</label><br>
  <input type=“text” name=“title” placeholder=“Title”>
  <br><br>
  <label>Description</label><br>
  <input type=“text” name=“description” placeholder=“Description”>
  <br><br>
  <label>Category</label><br>
  <input type=“text” name=“category” placeholder=“Category”>
  <br><br>
  <label>Link</label><br>
  <input type=“text” name=“link” placeholder=“Pon aquí tu link guapi!“>
  <br><br>
  <label>Language</label><br>
  <input type=“text” name=“language” placeholder=“Choose language”>
  <br><br>
  <div class=“container”>
  <div class=“center-btn right”>
    <button class=“btn waves-effect waves-light” type=“submit” name=“action”>CREAR PIRULA
  </button>
   <br>
   
  </div>
