
<div class="container">
<form class="form auth" action="/pill/create" method="POST">
  <h3 class=" fa fa-user center-align teal-text">Add Video</h3>
  <label>Title</label><br>
  <input type="text" name="title" placeholder="In a nutshell...">
  <br><br>
  <label>Description</label><br>
  <input type="text" name="description" placeholder="What's this video all about?">
  <br><br>
  <label>Link</label><br>
  <input type="text" name="link" placeholder="Youtube link">
  <br><br>
  <div class="row">
    <div class="col s5">
   <label>Category</label><br>
    <br>
     <select name="category">
       <option value="AJAX">AJAX</option>
       <option value="Arrays">Arrays</option>
       <option value="Async & Callbacks">Async & Callbacks</option>
       <option value="Algorithms">Algorithms</option>
       <option value="Canvas">Canvas</option>
       <option value="Conditionals & Loops">Conditionals & Loops</option>
       <option value="Debugging">Debugging</option>
       <option value="DOM">DOM</option>
       <option value="Express">Express</option>
       <option value=">Functions">Functions</option>
       <option value=">JQuery">JQuery</option>
       <option value=">JSON">JSON</option>
       <option value=">Libraries">Libraries</option>
       <option value=">Methods">Methods</option>
       <option value=">Mongo">Mongo</option>
       <option value=">Mongoose">Mongoose</option>
       <option value=">Node">Node</option>
       <option value=">Objects">Objects</option>
       <option value=">Packages">Packages</option>
       <option value=">Prototype">Prototype</option>
       <option value=">Passport">Passport</option>
       <option value=">Testing">Testing</option>
    </select>
    </div>
<div class="col s2"></div>
<div class="col s5">
  <label>Language</label><br>
   <br>
    <select name="language">
     <option value="English">English</option>
     <option value="Spanish">Spanish</option>
   </select>
  </div>
  <br><br>
  </div>
  <div class="">
   <div class="center-btn">
    <button class="btn waves-effect waves-light btn-success red darken-1 full" type="submit" name="action">Add Video
    </button>
     <br>
   </div>
  </div>
</form>
