<h1>EDIT PILL</h1>
<div class="container">
<form id="form" action="/pill/<%= pill._id %>/update" method="POST">
  <label>Title</label><br>
  <input type="text" name="title" placeholder="Title">
  <br><br>
  <label>Description</label><br>
  <input type="text" name="description" placeholder="Description">
  <br><br>
  <label>Category</label><br>
  <select name="category">
   <option value="AJAX">AJAX</option>
   <option value="Arrays">Arrays</option>
   <option value="Async & Callbacks">Async & Callbacks</option>
   <option value="Algorithms">Algorithms</option>
   <option value="Canvas">Canvas</option>
   <option value="Conditionals & Loops">Conditionals & Loops</option>
   <option value="Debugging">Debugging</option>
   <option value="DOM">DOM</option>
   <option value="Express">Express</option>
   <option value=">Functions">Functions</option>
   <option value=">JQuery">JQuery</option>
   <option value=">JSON">JSON</option>
   <option value=">Libraries">Libraries</option>
   <option value=">Methods">Methods</option>
   <option value=">Mongo">Mongo</option>
   <option value=">Mongoose">Mongoose</option>
   <option value=">Node">Node</option>
   <option value=">Objects">Objects</option>
   <option value=">Packages">Packages</option>
   <option value=">Prototype">Prototype</option>
   <option value=">Passport">Passport</option>
   <option value=">Testing">Testing</option>
  </select>
  <br><br>
  <label>Language</label><br>
  <select name="language">
   <option value="English">English</option>
   <option value="Spanish">Spanish</option>
  </select>
  <br><br>
  <div class="container">
   <div class="center-btn right">
    <button class="btn waves-effect waves-light" type="submit" name="action">UPDATE PILL
   </button>
   <br>
 </form>
  </div>
  </div>
