<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css"  href="/stylesheets/style.css">


  </head>
  <body>
    <% if(user) { %>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo teal-text"><img style="width:75px; margin-top:7px;" src="/images/logo.png" alt="Logo Code Bites"></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="/user/profile">Profile</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light btn" href="/logout">Logout</a></li>
        </ul>
 <!-- Mobile Navigation -->
        <!-- <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/user/profile">Profile</a></li>
          <li><a href="/auth/logout">Logout</a></li>
        </ul>
      </div> -->
    </nav>
<% } else { %>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo teal-text">Code Bites</a>
        <ul class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light btn" href="/signup">Sign Up</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="/login">Log in</a></li>
        </ul>

        <!-- <ul id="nav-mobile" class="side-nav">
          <li><a href="/auth/login">Log in</a></li>
          <li><a class="waves-effect waves-light btn" href="/auth/signup">Sign Up</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a> -->
      </div>
    </nav>
<% } %>
    <%- body %>
  </body>
</html>
